nav{
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.menu{
    list-style-type: none;
}

.menu>li{
    display: inline-block;
}

.menu>li>a{
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 1.5em;
}
.menu>li:hover{
    border-bottom: 4px solid rgb(0, 221, 255);
}

.section{
    position:relative;
}

.section:hover>.sous-menu{
    max-height: 150px;
}

.sous-menu{
    list-style-type: none;
    position:absolute;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding: 0;
    margin :5px 0;
}

.sous-menu>li{
    text-align: center;
    background-color: lightgray;
    line-height: 1.5em;
    font-size: 1em;
    padding: 5px 0;
    border: 1px solid white;
}

.sous-menu>li>a{
    text-decoration: none;
    color: white;
}

.sous-menu>li:hover{
    background-color: rgb(0, 221, 255);   
}
.sous-menu>li>a:hover{
    color: #606060;
    font-weight: bold;
}



